<launch>
    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find bionav)/custom_rosconsole.conf"/>    
    <param name="use_sim_time" value="true" />
    <node name="bionav" pkg="bionav" type="bionav" respawn="false" output="screen" launch-prefix="gdb -ex run --args" />
    <node pkg="rosbag" type="play" name="player" output="screen" args="--clock -d 5  -q /home/ankur-ws/fuerte_workspace/rosbags/20131204/20131204_1116_imu_tf_data_0.bag /home/ankur-ws/fuerte_workspace/rosbags/20131204/20131204_1116_imu_tf_data_1.bag /home/ankur-ws/fuerte_workspace/rosbags/20131204/20131204_1116_imu_tf_data_1.bag --topics /torso_lift_imu/data "/>
</launch>
